---
layout: default
title: Home
---
<div id="intro1" class="grid_8">
  <p>
    <em>nyerm</em>. The sound of something whizzing by. A car. Technological change. Your latest deadline. Receding into the distance with a familiar doppler shift.
  </p>
</div>
<div id="intro2" class="grid_4">
  <p>
    I'm Lonnon Foster, and this weblog is my attempt to grab snapshots of life's frantic race into the future. Here is where I write things down before they're lost, pushed aside by the next fast-moving object that grabs my attention.
  </p>
</div>
<div class="clear"></div>

<div id="post_details" class="grid_4">
  <p class="date"><%= @site.posts.last.date %></p>
  <% if @site.posts.last.tags != [nil] %>
    <p class="tags">tags: <%= @site.posts.last.tags.join ", " %></p>
  <% end %>
</div>
<div id="post_title" class="grid_8">
  <h2><a href="<%= @site.posts.last.url %>"><%= @site.posts.last.title %></a></h2>
</div>
<div id="post" class="prefix_4 grid_8">
  <p>Above-fold content goes here</p>
  <p class="read_more"><a href="<%= @site.posts.last.url %>#more">read more &raquo;</a></p>
  <h3>Other recent posts</h3>
  <ul id="recent_posts">
    <% @site.posts[-[11, @site.posts.count].min..-2].reverse_each do |post| %>
      <li>
        <span class="date"><%= post.date %></span>
        <span class="link"><a href="<%= post.url %>"><%= post.title %></a></span>
      </li>
    <% end %>
  </ul>
</div>
<div class="clear"></div>

<div id="flickr" class="grid_12">row of Flickr photos</div>

<div id="footer_left" class="grid_4">
  <ul>
    <li>Projects</li>
    <li>GitHub</li>
  </ul>
</div>
<div id="footer_center" class="grid_4">
  Latest from Twitter
</div>
<div id="footer_right" class="grid_4">
  Latest from Delicious
</div>
<div class="clear"></div>
