<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>nyerm &raquo; {{ page.title }}</title>
    <meta name="author" content="Lonnon Foster" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div class="container_12">
      <div id="header" class="grid_12">
        <h1>nyerm</h1>
        <p>Life goes by pretty fast</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      {{ content }}
      <div id="footer" class="grid_12">
        <div id="search" class="alpha grid_4">
          search form
        </div>
        <div id="archives_by_date" class="grid_4">
          archives by date
        </div>
        <div id="archives_by_tag" class="grid_4 omega">
          archives by tag
        </div>
        <div class="clear"></div>

        <p>row of Flickr photos</p>

        <div id="footer_left" class="alpha grid_4">
          <ul>
            <li>Projects</li>
            <li>GitHub</li>
          </ul>
        </div>
        <div id="footer_center" class="grid_4">
          Latest from Twitter
        </div>
        <div id="footer_right" class="grid_4 omega">
          Latest from Delicious
        </div>
      </div>
    </div>
  </body>
</html>
