<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>nyerm &raquo; {{ page.title }}</title>
    <meta name="author" content="Lonnon Foster" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div class="container_12">
      <div id="header" class="grid_11 suffix_1">
        <h1>nyerm</h1>
        <p>Life goes by pretty fast</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div id="main" class="prefix_1 grid_7">
        {{ content }}
      </div>
      <div id="sidebar" class="grid_3 suffix_1">
        <h2>Search</h2>
        <h2>Subscribe</h2>
        <h2>Flickr</h2>
        <h2>Twitter</h2>
        <h2>Delicious</h2>
        <h2>Posts by category/tags</h2>
        <h2>Archives</h2>
      </div>
    </div>
  </body>
</html>
